header{
background-color: black;
color: white;
display: flex;
justify-content: space-between;
height: 10vh;
}
nav{
    margin-top: 1rem;
}
nav a{
    color:white;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.3rem;

}

nav a:hover{
    color:rgb(61, 61, 83);
}
img{
    width: 800px;
}

.img-logo{
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
main{
    height: 90vh;
}
.info{
    background-color: black;
    color: white;
    font-size: .5rem;
    text-align: center;
}
.register{
    display: flex;
    justify-content: space-around;
}
.display{
    padding: 100px;}